/** 
 * azul: #0463a7;
 * cinza: #b5b9ba;
 */
* {
	outline: none !important;
	-webkit-outline: none !important;
	text-rendering: optimizeLegibility;
}
img {
	width: 100%;
	height: auto;
}

h1,h2,h3,h4,h5,h6 {
	color: #0463a7;
}

body {
	font-family: "OpenSans", sans-serif;
}
header {
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
header .navbar {
	margin-bottom: 0;
}
header .navbar-brand {
	width: 100%;
	max-width: 300px;
	height: 100px;
	display: block;
	height: auto;
}
header .navbar-nav > li > a {
	padding-top: 45px;
	padding-bottom: 45px;
}
header .icon-bar {
	background: #0463a7;
}
.site-section {
	padding: 40px 0;
}
.site-section.gray {
	background: #f0f0f0;
}
.site-section .section-title {
	text-align: center;
	margin-bottom: 30px;
	font-weight: bold;
}

.site-section .description {
	max-width: 600px;
	display: block;
	margin: auto;
	text-align: center;
	color: #b5b9ba;
}
#advantages h4 {
	text-align: center;
	color: #000;
	display: inline-block;
}
#advantages .col-md-4 {
	text-align: center;
}
#advantages .col-md-4 .fa {
	text-align: center;
	font-size: 3rem;
	display: inline-block;
}

.titulo{
	color: blue;
	font-family: sans-serif;
	font-size: 20px;


}

.push{
	margin-left: 100px;

}



}
.skyblue_text{
	text-align: center;
	color: #b5b9ba;

}



.parc{
	background-color: #2e2e2e;
	text-align: center;

}
.parc_div{
	padding-right: 20px;
	padding-top:30px;
	height: 280px;
	width: 280px;
	float: left;
	margin: auto;
}

.parc_div2{
	padding-top:60px;
	height: 280px;
	width: 280px;
	float: left;
	margin: auto;
}

#end{
	height: 200px;
	background-color: #f9f4f5;
	width: cover;
	
}

.div_end{
	color: #0463a7;
	font-size: 20px;
	text-align: center;
	padding-top: 100px;

	
}

