/** 
 * azul: #0463a7;
 * cinza: #b5b9ba;
 */
* {
	outline: none !important;
	-webkit-outline: none !important;
	text-rendering: optimizeLegibility;
}
img {
	width: 100%;
	height: auto;
}
h1,h2,h3,h4,h5,h6 {
	color: #0463a7;
}
body {
	font-family: "OpenSans", sans-serif;
}
header {
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
header .navbar {
	margin-bottom: 0;
}
header .navbar-brand {
	width: 100%;
	max-width: 300px;
	height: 100px;
	display: block;
	height: auto;
}
header .navbar-nav > li > a {
	padding-top: 45px;
	padding-bottom: 45px;
}
header .icon-bar {
	background: #0463a7;
}
.site-section {
	padding: 40px 0;
}
.site-section .section-title {
	text-align: center;
}

#about .description {
	max-width: 600px;
	display: block;
	margin: auto;
	text-align: center;
	color: #b5b9ba;
}